@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.JogoLista {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .JogoLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .JogoLista {
    grid-template-columns: 1fr;
  }
}

.JogoListaItem {
  font-family: "Oswald";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  width: 200px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 400px) {
  .JogoListaItem {
    width: 210px;
    height: 180px;
  }
}

.JogoListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.JogoListaItem__titulo {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.JogoListaItem__descricao {
  min-height: 115px;
  font-size: 0.8em;
  text-align: justify;
  justify-content: space-between;
  padding: 8px;
}

.JogoListaItem__preco {
  color: #f8575f;
  text-align: center;
}

.JogoListaItem__acoes,
.Acoes {
  display: flex;
  justify-content: space-between;
}
.Acoes__adicionar,
.Acoes__remover {
  border: none;
  color: white;
  border-radius: 2px;
  font-family: "Oswald", sans-serif;
  padding: 10px;
  max-width: 200px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.Acoes__remover {
  background-color: red;
}

.Acoes__adicionar {
  background-color: #c31e87;
}

.Acoes__adicionar--preencher {
  width: 100%;
}

.JogoListaItem__foto {
  display: flex;
  height: 200px;
  width: 200px;
}
.JogoListaItem__genero {
  color: #e64246;
  font-size: 0.7em;
  text-align: right;
}
.JogoListaItem__distribuidora {
  color: black;
  font-size: 0.7em;
  text-align: right;
}
.JogoListaItem__badge {
  background-color: greenyellow;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: black;
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}