.JogoListaItem {
  font-family: "Oswald";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  max-width: 200px;
  max-height: 530px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.5s;
}
.JogoListaItem:hover {
  transform: scale(1.1) 
}

@media (max-width: 400px) {
  .JogoListaItem {
    width: 210px;
    height: 180px;
  }
}
.JogoListaItem--disable {
  box-shadow: 0px 0px 7px rgba(148, 0, 211);
}

.JogoListaItem--disable,
.JogoListaItem--disable .JogoListaItem__preco {
  color: gray;
}

.JogoListaItem--disable .JogoListaItem__badge {
  display: none;
}

.JogoListaItem--disable img {
  filter: grayscale(100%);
}

.JogoListaItem--disable button:disabled {
  background-color: gray;
}

.JogoListaItem__tag {
  background-color: #c31e87 !important;
  color: white !important;
  position: absolute;
  font-size: 0.6em;
  border-radius: 5px;
  padding: 5px;
  top: -15px;
  left: -10px;
  letter-spacing: 1px;
}


.JogoListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.JogoListaItem__titulo {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.JogoListaItem__descricao {
  min-height: 112px;
  font-size: 0.8em;
  text-align: justify;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.JogoListaItem__preco {
  color: #f8575f;
  text-align: center;
}

.JogoListaItem__acoes,
.Acoes {
  display: flex;
  justify-content: space-between;
}
.Acoes__adicionar,
.Acoes__remover {
  border: none;
  color: white;
  border-radius: 2px;
  font-family: "Oswald", sans-serif;
  padding: 10px;
  max-width: 200px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.Acoes__remover {
  background-color: rgb(221, 70, 0);
}

.Acoes__adicionar {
  background-color: #c31e87;
}

.Acoes__adicionar--preencher {
  width: 100%;
}

.JogoListaItem__foto {
  display: flex;
  height: 200px;
  width: 200px;
}
.JogoListaItem__genero {
  color: #e64246;
  font-size: 0.7em;
  text-align: right;
}
.JogoListaItem__distribuidora {
  color: black;
  font-size: 0.7em;
  text-align: right;
}
.JogoListaItem__badge {
  background-color: #5774b8;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: #550875;
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  right: -9px;
  top: -9px;
}
.JogoListaItem {
  cursor: pointer;
}