@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-image: radial-gradient(
    farthest-corner at 35px 35px,
    #C31E87 60%,
    #F8575F 100%
  );
  font-family: 'Oswald', sans-serif;
}